body {
    font-family: "Helvetica", sans-serif;
}

/* Giant header */
h1 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
}

/* Project header */
h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

h3 {
    font-size: 1rem;
    color: #BFBFBF;
}

/* Sub text */
h4 {
    font-size: 1rem;
    color: #BFBFBF;
    font-weight: normal;
    margin: 0;
    padding-bottom: 0.4rem;
}

p {
    font-size: 1rem;
    color: black;
}

.subheader {
    color: #BFBFBF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: BFBFBF;
}

a {
    font-size: 1rem;
    font-style: normal;
    color: black;
    text-decoration: none;
}

a:hover, a:checked {
    color: #7C86FF;
}

a img:hover, img:checked {
    opacity: 80%;
    transition-duration: 200ms;
}

section {
    padding-top: 2rem;
}

/* Header & Navigation */

header {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

/* Landing page */

.landing-page {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 4rem;
    max-width: 40%;
    margin: auto;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 0.2rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Project page */

.project-sections {
    padding-top: 4rem;
}

.project-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

