body {
    font-family: "Helvetica", sans-serif;
}

/* Giant header */
h1 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
}

/* Project header */
h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

h3 {
    font-size: 1rem;
    font-weight: normal;
    color: #BFBFBF;
}

/* Sub text */
h4 {
    font-size: 1rem;
    color: #BFBFBF;
    font-weight: normal;
    margin: 0;
    padding-bottom: 0.4rem;
}

p {
    font-size: 1rem;
    font-weight: lighter;
    color: black;
}

.underline {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #BFBFBF;
    padding-bottom: 1rem;
}

a {
    font-size: 1rem;
    font-style: normal;
    color: black;
    text-decoration: none;
}

a:hover, a:checked {
    color: #E33D00;
}

a img:hover, img:checked {
    opacity: 80%;
    transition-duration: 200ms;
}

section {
    padding-top: 2rem;
}

/* Header & Navigation */

header {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

/* Landing page */

.landing-page {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 4rem;
    max-width: 600px;    
    margin: auto;
}

.landing-body,
.bio-body,
.landing-body a, 
.landing-body h4,
.bio-body p,
.bio-body h3,
.bio-body a {
    background-color: #F5C22B;
    color: #E03F00;
}

.landing-body a:hover,
.bio-body a:hover,
.landing-body:checked, 
.bio-body a:checked {
    color: #FA5A1F;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 2rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Project page */

.project-sections {
    padding-top: 4rem;
}

.project-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 700px;    
    margin: auto;
}

.project-details {
    display: flex;
    justify-content: left;
    gap: 2rem;
    padding-top: 2rem;
}

.project1-body {
    background-color: #027A54;
}

.project1-body p, 
.project1-body h2, 
.project1-body h4, 
.project1-body .underline, 
.project1-body a {
    color: #E8E8E8;
    border-bottom-color: white;
}

.project1-body a:hover {
    color: #D7FFB7;
}

.project2-body {
    background-color: #253882;
}
.project2-body p, 
.project2-body h2, 
.project2-body h4, 
.project2-body .underline, 
.project2-body a {
    color: #E8E8E8;
    border-bottom-color: white;
}

.project2-body a:hover {
    color: #90C1D9;
}

/* Biography */

.bio-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.bio-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 700px;    
    margin: auto;
}

.bio-imgs {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    padding-top: 1rem;
}

/* Style Guide */

.style-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.style-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 700px;    
    margin: auto;
}



