body {
    font-family: "Helvetica", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 1rem;
}

input {
    color: #BFBFBF;
}

img {
  max-width: 100%;
  height: auto;
}


.button {
    padding: 1rem;
    background-color: #E33D00;
    color: white;
    font-family: "Helvetica", sans-serif;
    border-radius: 5%;
}

.button:active,
.button:hover,
.button:focus {
    background-color: #E33D00;
    color: white;
}

/* Giant header */
h1 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
}

/* Project header */
h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

h3 {
    font-size: 1rem;
    font-weight: normal;
    color: #BFBFBF;
}

/* Sub text */
h4 {
    font-size: 1rem;
    color: #BFBFBF;
    font-weight: normal;
    margin: 0;
    padding-bottom: 0.4rem;
}

h5 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

p {
    font-size: 1rem;
    font-weight: lighter;
    color: black;
}

.underline {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #BFBFBF;
    padding-bottom: 1rem;
}

a {
    font-size: 1rem;
    font-style: normal;
    color: black;
    text-decoration: none;
}

a:hover, a:checked {
    color: #E33D00;
}

a img:hover, img:checked {
    opacity: 80%;
    transition-duration: 200ms;
}

section {
    padding-top: 2rem;
}

/* Header & Navigation */

header {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

/* Footer */

footer {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    margin-top: auto;
}

/* Phone */

@media (max-width: 460px) {
    .project-details {
        flex-direction: column;
    }
}
